@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import "tailwindcss";

@layer base {
  [data-theme="original"] {
    --color-bg: #475569;

    --color-text-logo: #A5F3FC;
    --color-text-primary: #FFFFFF;

    --size-text-heading: 1.6rem;
    --size-text-medium: 1.1rem;

    --font-family-heading: 'Montserrat', sans-serif;
    --font-family-text: 'Poppins', sans-serif;
  }
}
