@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import "tailwindcss";

@layer base {
    :root {
	--size-text-heading: 1.6rem;
	--size-text-medium: 1.1rem;
	--size-text-paragraph: 1rem;

	--font-family-heading: 'Montserrat', sans-serif;
	--font-family-text: 'Poppins', sans-serif;

	* {
	    padding: 0;
	    margin: 0;
	    box-sizing: border-box;
	 }

	 .hl {     /*Highlight for development*/
	     border: 1px solid blue;
	 }

	 .trim {
	    line-height: 1 !important;
	 }

	 .trim:nth-of-type(1) {
	     line-height: .9 !important;
	 }

	 .trim:nth-of-type(3) {
	     line-height: 1.4 !important;
	 }

	 p {
	     color: var(--color-text-primary);
	     font-family: var(--font-family-text);
	     font-size: var(--size-text-paragraph);
	 }

	 h1 {
	     color: var(--color-text-primary);
	     font-family: var(--font-family-heading);
	     font-size: var(--size-text-heading);
	     font-weight: bold;
	 }

	 h2 {
	     color: var(--color-text-primary);
	     font-family: var(--font-family-text);
	     font-size: var(--size-text-medium);
	     font-weight: bold;
	 }

	 svg:is(.small){
	     color: var(--color-text-logo);
	     font-size: 1.4rem;
	 }
    }

    [data-theme="original"] {
	--color-bg: #475569;
	--color-bg-card: #64748B;

	--color-text-logo: #A5F3FC;
	--color-text-primary: #FFFFFF;
	--color-text-secondary: #D1D5DB;
	--color-text-paragraph: #DBEAFE;
	--color-text-icon: #0F172A;

	--color-icon-lang: #1F2937;
    }
}
